* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}

body {

	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}

.main-header {
	position: relative;
}

.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}

.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}

.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}

.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}

.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}

.main-article {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
	background-color: #000;
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;

}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}

.content {
	will-change: transform;
}

.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

.articles {
	display: flex;
}

.main-article {
	height: 700px;
	padding-top: 40px;
	flex-direction: column;
	gap: 40px;
}

.above {
	height: 50px;
}

.my-class {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	text-transform: uppercase;
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	display: inline-block;
	/* Строчно-блочный элемент */
	background: #8C959D;
	/* Серый цвет фона */
	color: #fff;
	/* Белый цвет текста */
	padding: 1rem 1.5rem;
	/* Поля вокруг текста */
	text-decoration: none;
	/* Убираем подчёркивание */
	border-radius: 12px;
	/* Скругляем уголки */
	transition: 0.3s;
}

.link:hover{
	background: #c3ad65;
	text-shadow: 0 0 15px #c3ad65;
}
li {
	list-style: none;
	margin-left: 90px;
	padding: 40px;
}
.obert{
	display: flex;
}






.footer{
  background: #91929C;
  height: 220px;
}
.con_tit{
  padding-top: 20px;
  text-align: center;
}
.con_txt{

  text-align: center;
}
ul{
  display: flex;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437a16;
}

a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}

a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}