* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}

body {

	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}

.main-header {
	position: relative;
}

.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}

.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}

.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}

.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}

.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}

.main-article {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
	background-color: #000;
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;

}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}

.content {
	will-change: transform;
}

.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

.articles {
	display: flex;
}

.main-article {
	height: 700px;
	padding-top: 40px;
	flex-direction: column;
	gap: 40px;
}

.above {
	height: 50px;
}

.my-class {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	text-transform: uppercase;
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	display: inline-block;
	/* Строчно-блочный элемент */
	background: #8C959D;
	/* Серый цвет фона */
	color: #fff;
	/* Белый цвет текста */
	padding: 1rem 1.5rem;
	/* Поля вокруг текста */
	text-decoration: none;
	/* Убираем подчёркивание */
	border-radius: 12px;
	/* Скругляем уголки */
	transition: 0.3s;
}

.link:hover{
	background: #c3ad65;
	text-shadow: 0 0 15px #c3ad65;
}
li {
	list-style: none;
	margin-left: 90px;
	padding: 40px;
}
.obert{
	display: flex;
}









.footer { 
    position: relative; 
    width: 100%; 
    background-color: #2f70af  ; 
    min-height: 100px; 
    padding: 20px 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
  } 
   
  .social-icon, 
  .menu { 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px 0; 
    flex-wrap: wrap; 
  } 
   
  .social-icon__item, 
  .menu__item { 
    list-style: none; 
  } 
   
  .social-icon__link { 
    font-size: 2rem; 
    color: #fff; 
    margin: 0 10px; 
    display: inline-block; 
    transition: 0.5s; 
  } 
  .social-icon__link:hover { 
    transform: translateY(-10px); 
  } 
   
  .menu__link { 
    font-size: 1.2rem; 
    color: #fff; 
    margin: 0 10px; 
    display: inline-block; 
    transition: 0.5s; 
    text-decoration: none; 
    opacity: 0.75; 
    font-weight: 300; 
  } 
   
  .menu__link:hover { 
    opacity: 1; 
  } 
   
  .footer p { 
    color: #fff; 
    margin: 15px 0 10px 0; 
    font-size: 1rem; 
    font-weight: 300; 
  } 
   
  .wave { 
    position: absolute; 
    top: -100px; 
    left: 0; 
    width: 100%; 
    height: 100px; 
    background: url("https://i.ibb.co/wQZVxxk/wave.png"); 
    background-size: 1000px 100px; 
    filter: brightness(0) saturate(100%) invert(32%) sepia(88%) saturate(526%) hue-rotate(170deg) brightness(100%) contrast(83%); 
  } 
   
  .wave#wave1 { 
    z-index: 1000; 
    opacity: 1; 
    bottom: 0; 
    animation: animateWaves 4s linear infinite; 
  } 
   
  .wave#wave2 { 
    z-index: 999; 
    opacity: 0.5; 
    bottom: 10px; 
    animation: animate 4s linear infinite !important; 
  } 
   
  .wave#wave3 { 
    z-index: 1000; 
    opacity: 0.2; 
    bottom: 15px; 
    animation: animateWaves 3s linear infinite; 
  } 
   
  .wave#wave4 { 
    z-index: 999; 
    opacity: 0.7; 
    bottom: 20px; 
    animation: animate 3s linear infinite; 
  } 
   
  @keyframes animateWaves { 
    0% { 
      background-position-x: 1000px; 
    } 
    100% { 
      background-positon-x: 0px; 
    } 
  } 
   
  @keyframes animate { 
    0% { 
      background-position-x: -1000px; 
    } 
    100% { 
      background-positon-x: 0px; 
    } 
  } 
  .header{
    height: 94px;
    position: fixed;
    z-index: 1000;
    gap: 180px;
    max-width: 1600px;
    background: rgb(249, 249, 247);
  }
  .header_tit{
    margin-top: 35px;
    font-family: Lobster;
    font-size: 30px;
    color: #2f70af;
  }
  .header_logo{
    gap: 15px;
  }
  .menu{
    gap: 20px;
  }
  nav{
    display: flex;
    align-items: center;
    color:rgb(10, 4, 75);
    font-weight: 700;
  }
  .header_right{
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .btn{
    height: 50px;
    border: 1px solid #2f70af;
    border-radius: 6px;
    padding: 15px;
    transition: 0.3s;
    color:#2f70af;
}
  .btn:hover{
    color: #fff;
    background:#2f70af ;
  }
  .btn-outline-success{
    color:#2f70af;
  }
  .progress{
    height: 400px;
    margin-top: -400px;
  }
  .progress, .progress-stacked{
    --bs-progress-height: 400px;
  }


/*veshalka*/
.btn-up {
  z-index: 100000;
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background: rgb(2, 0, 36);
  background: #202326;
  /* расстояние от правого края окна браузера */

  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 56px;
  padding: 5px;
  flex-direction: column;
  }
  #veshalka_txt{
    font-weight: 500;
    font-size: 18px;
  }
  .btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url(img/veshalka.svg);
  }
  
  .btn-up_hide {
  display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #312e37; /* цвет заднего фона при наведении */
  }
  }